
  
#body{
  background-color: #EEE;
  font-family: Georgia, Sans-Serif;
}

#container {
  background-color: white;
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
}

#header {
  background-color: #217E57;
  color: white;
  text-align:center;
  padding:10px;
}

#content{
  padding: 10px 10px 10px 10px;
}
 
#nav{
  width: 20%;
  float: left;
} 

#nav ul{
  list-style-type:none;
  padding: 0;
}


#main{
  width: 80%;
  float: right;
} 

#footer{
  clear: both;
  padding:15px;
  background-color: #999;
  color: white;
  text-align: right;
}

#nav .selected{
  font-weight: bold;
  background-color: white;
}

a{
  color: #226146;
  text-decoration: none;
}

h1{
margin:0; 
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 100%;
}


/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: -10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}


.inline-block {
   display: inline-block;
}


 
 
 